body {
    background-color: powderblue;
}
#topnavbar {
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-family: serif;
    font-size: 100%;
    text-align: center;
}
.name {
    margin-left: 440px;
    margin-top: 130px;
    padding: 0;
    height: 5vh;
}
#name {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    border: solid 1px #86de8a;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}
p {
    font-family: Verdana;
    padding-left: 7px;
}
.username {
    margin-left: 440px;
    margin-top: 50px;
    padding: 0;
    height: 5vh;
}
#username {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    border: solid 1px #86de8a;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}
.password {
    margin-left: 440px;
    margin-top: 50px;
    padding: 0;
    height: 5vh;
}
#password {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    border: solid 1px #86de8a;
    padding-left: 15px;
    font-size: 16px;
    outline: none;
}
.fa {
    margin-right: 10px;
}
.eye {
    position: absolute;
}
#hide1 {
    display: none;
}
.birthday {
    margin-left: 440px;
    margin-top: 50px;
    padding: 0;
    height: 5vh;
}
#birthday {
    width: 50%;
    height: 100%;
    border-radius: 7px;
    border: solid 1px #86de8a;
    padding-left: 15px;
    outline: none;
}
.confirm-btn {
    background-color: #04AA6D;
    color: white;
    border-radius: 5px;
    margin-left: 630px;
    margin-top: 80px;
    font-size: 18px;
    text-align: center;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px;
    height: 5vh;
    transition-duration: 0.4s;
    cursor: pointer;
}
.confirm-btn:hover {
    background-color: white;
    color: #04AA6D;
}