.h1 {
	font-weight: bold;
	margin: 0;
}

.header{
    max-width: 800px;
    height: 60px;
    background: #f5e4a0;
}

.following-container{
    left: 0;
	width: 50%;
	z-index: 2;
}

.foryou-container{
    left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.tap-container{
    position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}